header{
    background: orange;
    padding: 20px 0;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;

}

nav li{
   display: inline; 
   margin: 0 0 0 15px;
} 

nav {
  position: absolute;
  top: 110px;
  right: 50;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  
}
nav a:hover {
  color: red;
  text-decoration: underline;

}
main{
    width: 940px;
    margin: 0 auto;
}
form{
    margin: 40px 0;
    
}
 form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

 .input-padrao{
    display: block;
    margin: 0 0 10px;
    padding: 5px 25px;
    width: 50%
}
.checkbox{
  margin: 20px 0;
}
.enviar{
  width: 50%;
  padding: 10px 0;
  background: orange;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
}
.enviar:hover{
  background: red;
  transition: 3s all;
  cursor: pointer;
  transform: rotate(360deg) scale(1.5);

}
table{
  margin: 20px 40px;
  
}
thead{
  background:black;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
td, th{
  border: 1px solid black;
  padding: 10px 15px
}
footer {
  text-align: center;
  background: black;
  padding: 35px 0;
}
.Copyright{
  color:#ffffff;
  font-size: 13px;
  margin: 30px 0;


}
